---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
interface Props {
    title: string;
    subtitle: string;
    heroImg: string;
    overlay: string | undefined;
}

const { title, subtitle, heroImg, overlay } = Astro.props;
---

<section class="relative bg-white overflow-hidden">
  <div class="absolute inset-0">
    <div class="absolute inset-0 bg-white"></div>
    <div class="absolute inset-0 bg-grid-black/[0.05] bg-grid-16"></div>
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center py-20 md:py-28">
      <!-- Left Column -->
      <div>
        <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6 tracking-tight">
          {title}
        </h1>
        <p class="text-lg md:text-xl text-gray-700 mb-6">
          {subtitle}
        </p>
        <div class="mt-8">
          <a href="/schedule-a-chat">
          <button
            class={cn(
              buttonVariants({ size: "lg", rounded: "full" }),
              "gap-2 bg-black text-white hover:opacity-90 transition-all duration-300 shadow-md"
            )}
          >
            <span>Speak with us</span>
            <Icon name="lucide:messages-square" class="mr-2 text-[#faff69] size-4" />
          </button>
        </a>
        </div>
      </div>
      <!-- Right Column -->
      <div class="relative">
        <!-- Main Image -->
        <img
          src={heroImg}
          alt="Descriptive alt text"
          class="object-cover w-full h-full rounded-lg shadow-md"
        />
        <!-- Overlay Image -->
        <img
          src={overlay}
          alt="Overlay"
          class="absolute top-1/2 left-1/2 w-3/4 max-w-lg -translate-x-1/2 -translate-y-1/2 rounded-lg shadow-lg"
        />
      </div>
    </div>
  </div>
</section>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const deploymentIntercom = document.getElementById('intercom-button');
    if (deploymentIntercom) {
      deploymentIntercom.addEventListener('click', () => {
        if (window.Intercom) {
          // Open Intercom Messenger
          window.Intercom('show');
          console.log('Intercom opened via Deployment Support Page');
        } else {
          console.error('Intercom is not initialized');
        }
      });
    }
  });
</script>
