---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
       Get a 1-week free trial to feel out Portcullis
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
       If you're just looking for support hours, this is the best way to get started.
      </p>
    </div>
    <div class="w-full rounded-3xl border bg-background p-10">
      <script src="https://js.hsforms.net/forms/embed/47965561.js" defer></script>
      <div 
        class="hs-form-frame" 
        data-region="na1" 
        data-form-id="4661788f-577b-4845-9df1-9c2a87bff958" 
        data-portal-id="47965561"
      ></div>
    </div>
    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
    </div>
  </section>
</MainLayout>
