---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import jitsuAnalytics from "@jitsu/js";
import SlackConnectDialog from "@/components/slack-connect-dialog";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
       Transparent hourly billing with a one-week free trial
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
       Get a little taste of what quality support looks like with a one-week free trial
      </p>
    </div>
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          Flat Hourly Rate
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> ~24/7 Availability
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Expert Clickhouse Knowledge
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> White glove onboarding
          </li>

          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Analytics Dashboards
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Query Optimization Support
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Migrations
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-4xl font-bold">$268/hr</h4>
        </div>
        <SlackConnectDialog client:load>
          <button
            class={cn(buttonVariants({ size: "lg" }))}
            id="slack-connect-button"
          >
            <Icon name='lucide:slack' class="mr-2 size-4" />
            <span class="text-xs">Start Trial</span>
          </button>
        </SlackConnectDialog>
      </div>
    </div>
    <!-- <div
    class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
  >
    <div class="grid gap-6">
      <h3 class="text-xl font-bold sm:text-2xl">
        Happy Business Plan
      </h3>
      <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Advanced Analytics 
        </li>
        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Exclusive business sources (API, CSV, Clickhouse, Clay, etc)
        </li>
        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Instant Support
        </li>

        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Fully branded portals
        </li>
        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Outreach and engagement tools
        </li>
        <li class="flex items-center">
          <Icon name="lucide:check" class="mr-2 size-4" /> Privacy and security tools
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4 text-center">
      <div>
        <h4 class="text-4xl font-bold">$240/mo</h4>
        <p class="text-sm font-medium text-muted-foreground">
           + 0% Merchant Fees
        </p>
      </div>
      <a href="https://buy.stripe.com/dR64i3dfF3So37y3co" class={cn(buttonVariants({ size: "lg" }))}>
        Join the waitlist
      </a>
    </div> -->
  </div>
    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
    </div>
  </section>
</MainLayout>
