---
import MainLayout from "@/layouts/main-layout.astro";
import { Pricing as PricingComponent } from "@/components/pricing/Pricing";
---

<MainLayout title="Pricing" mainClass="flex-1 bg-background-200">
  <section class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24">
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Transparent pricing with a 1-week free trial and easy onboarding
      </h2>
      <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7">
        Get started today with a 1-week free trial and instant Slack Connect access
      </p>
    </div>
    
    <PricingComponent client:load />
    
    <p class="text-sm text-muted-foreground text-center mt-4">
      Startup with under 50 employees? <a href="/startups" class="text-primary hover:underline">Get 55% off with our startup plan</a>
    </p>
  </section>
</MainLayout>
