---
import { Input } from '@/components/ui/input';
import { Button } from '@/components/ui/button';
import { toast } from "sonner";  // For toasts
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Waitlist"
  description="A waiting list page with a simple form."
  mainClass="bg-background-200"
>
  <div class="relative flex my-4 w-full min-h-svh items-center justify-center">
    <div class="px-8 py-8 sm:p-10 bg-background border rounded-xl overflow-hidden max-w-2xl w-full mx-auto">
      <h1 class="text-3xl font-bold text-center text-gray-900">Tell us about your project</h1>
      <p class="text-center text-gray-600 mt-2">Fill out the form below to connect with us and talk more.</p>
      
      <!-- Form -->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script type="text/javascript">
        hbspt.forms.create({
          portalId: "47965561",
          formId: "99d89ccf-bce1-492d-90cb-b99b2267e26e"
        });
      </script>
</MainLayout>
