---
import MainLayout from "@/layouts/main-layout.astro";
import { Assistant } from "@/components/Assistant";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---
<MainLayout title="Talk to Portcullis" mainClass="flex-1 bg-background-200">
    <section
      class="flex items-center justify-center min-h-screen"
    >
      <div class="flex flex-col gap-4 w-full max-w-[58rem] items-center p-4">
          <Assistant />
      </div>
    </section>
</MainLayout>